env
*.log
*.pkl
test*
audio
*.user
pyvenv.cfg
.qt_for_python
*_ui.py
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv
.dev
dev/*.json
dev/*.log
dev/*.html
.mypy_cache
.pytest_cache
.ruff_cache
.coverage
.coverage.*
htmlcov
typings/
